label{
    box-shadow: 7px 5px 15px rgb(80, 80, 80);
    margin-right: 0.5%;
}

#area{
    box-shadow: 7px 5px 15px rgb(80, 80, 80);
}

#categoria{
    width: 150px;
}

#area{
    border:1px solid black;
    background-color: white;
    padding: 1%;
}

#topCont{
    padding-top: 1%;
    margin-bottom:1%;
}

#area row{
    padding-top: 1%;  
}

#leftCol{
    padding-top:1px;
    margin-bottom:1%;
}

#middleCol, #rightCol{
    padding-top:2px;
}

#class3, #class0{
    font-weight: bold;
}

div.col-sm.text-center p{
    font-weight: bold;
    text-decoration: underline;
    margin-top: 9%;
}

#tot{
    font-weight: bold;
    margin-bottom: 2%;
}